<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisualSVNAuthzEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VisualSVNAuthzEditor.Properties.Settings>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LDAP_DirEntry" serializeAs="String">
                <value>LDAP://ihs.internal.corp:389/OU=Users,OU=BYM1,OU=EMEA,DC=ihs,DC=internal,DC=corp</value>
            </setting>
            <setting name="LDAP_Filter" serializeAs="String">
                <value>(objectClass=user)</value>
            </setting>
            <setting name="LDAP_DisplayNameAttribute" serializeAs="String">
                <value>displayName</value>
            </setting>
        </VisualSVNAuthzEditor.Properties.Settings>
    </userSettings>
</configuration>